.nav-item {
  .nav-link {
    display: flex;
    align-items: center;

    &.active {
      color: #1EB972!important;
      background: rgba(30, 185, 114, 0.1);
      border-left: 1px solid #1EB972;
      opacity: 1;

    }
  }
}

.sidebar .nav a {
  transition: all 150ms ease-in;
}

.card-header {
  text-transform: uppercase;
}

.badge:empty {
  display: inline-block;
}